body{
  font-size:12px;
  font-family:Arial, Helvetica, Verdana, Arial, sans-serif;
  cursor:crosshair;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
  background:#292929;
  
  -webkit-user-drag: none;
  user-drag: none;
}

h4.mb16{
  color:#e5692c;
}

.main-container{
  max-width:1000px;
  margin:auto auto;
}

section{
  padding:10px 0px;
  
}

table{
  border-bottom:5px;
  background-color:white;
}

.container{
  margin:0px;
  width:100%;
}

.logscreen{
  background-color:#313131;
  font-family: monospace;
  margin-bottom:11px;
  height:140px;
  white-space: nowrap;
  overflow:hidden;
  overflow:auto;
}

.logscreen-content{
  padding:10px;
  line-height:16px;
  overflow:hidden;
  white-space: nowrap;
    color:#888;
}


.console input{
  background-color:#313131;
  font-family: monospace;
  font-size:12px;
  height:15px;
  line-height:12px;
  border:0px;
  padding:0px;
  margin:0px;
  overflow:hidden;
  width:auto; 
}
.console input:focus{
    outline: none;
}

input{
  background-color:#313131;!important
  font-family: monospace;
  font-size:16px;
  height:40px;
  line-height:60px;
  padding:10px;
  margin:0px 20px 0px 0px;
  border:0px;
  overflow:hidden;
  width:280px; 
}
select, option {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
select {
  height: 50px;
  width: 280px;
  border-radius: 0;
  border: none;
  outline: none;
  padding-left: 20px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #EEE;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
}
.select-option {
  position: relative;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  margin-bottom: 24px;
  height:40px;
}


.part-products, .part-accounts{
  min-height:400px;
  overflow:hidden;
}
.part-tools{
  overflow:hidden;
  
}

.console {
  font-family: monospace;
  background-color:#313131;
  text-decoration: none;
  width:auto;
  height:260px;
  font-size:20px;
  text-transform:uppercase;
  color:#888;
}

.console-content{
  padding:10px;
}

/*!----------  BUTTONS ----------*/
.btn{
  cursor:crosshair;
  padding:0px 10px;
  margin-bottom:8px;
  margin-right:8px;
}
.btn-lg {
  height: 60px;
  line-height: 56px;
  max-width:130px;
  min-width:130px;
  overflow:hidden;
}
.btn-sm {
  height: 60px;
  width: 60px;
  line-height: 56px;
  font-size:18px;
  font-weight:bold;
  max-width:60px;
  min-width:60px;
  overflow:hidden;
}

.btn-sm {
  height: 60px;
  width: 60px;
  line-height: 56px;
  font-size:18px;
  font-weight:bold;
  max-width:60px;
  min-width:60px;
  overflow:hidden;
}


.btn-blue{
  background-color:#30548a;
  border-color:#30548a;
  min-width:120px;
}
.btn-blue:hover{
  background-color:#30548a;
}

.btn-red{
  background-color:#A52A2A;
  border-color:#A52A2A;
}
.btn-red:hover{
  background-color:#A52A2A;
}
.btn-green{
  background-color:#55AE3A;
  border-color:#55AE3A;
}
.btn-green:hover{
  background-color:#55AE3A;
}

.btn-grey{
  background-color:#444;
  border-color:#444;
}
.btn-grey:hover{
  background-color:#444;
}
.btn:hover{
  cursor:crosshair;
  border-color:#fff;
  background-color:#fff;
  color:#000;
}
